@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  font-family: Poppins;
  min-height: 100vh;
  display: flex;
}
header {
  position: fixed;
  background-color: #fff;
  padding: 5px;
  width: 100%;
  height: 77px;
  box-shadow: 0px 0px 30px 0px #118d3b26;
}
.esquerda {
  color: black;
  margin: 0;
  width: 183.09px;
  height: 61px;
  background-color: #ebf8ef;
  padding: 5px 25px 5px 15px;
  gap: 13px;
  border-radius: 8px;
  opacity: 0px;
}
.esquerda span {
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
}
.esquerda span:last-child {
  font-size: 12px;
  line-height: 18px;
}
#user {
  display: flex;
  gap: 8px;
}
#userAvatar {
  position: absolute;
  left: 17px;
  top: 17px;
  align-self: center;
}
#img {
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 100%;
  background-color: #f0f0f0;
}
#infoUser {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 86px;
  align-self: center;
  top: 15px;
}
#seta {
  position: absolute;
  top: 31px;
  left: 152px;
}
#notificacao {
  position: absolute;
  top: 25px;
  width: 19.1px;
  height: 21.1px;
  left: 200px;
  gap: 10px;
  opacity: 0px;
  display: flex;
}
#logo {
  position: absolute;
  top: 20px;
  float: right;
  right: 05px;
}
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 57px;
  height: 100vh;
  background-color: #39a048;
  padding: 15px;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  transition: width 0.5s;
  min-width: 82px;
  overflow: hidden;
}

#sidebar:hover {
  width: 257px;
}

#sidebar-content {
  padding-top: 70px;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 0px;
  list-style: none;
}

.side-item {
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 40px;
  margin-bottom: 10px;
}

.side-item:hover {
  background-color: #1bba47;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 0 10px;
  border-radius: 20px;
  width: 100%;
}

.side-item img {
  margin-right: 10px;
}

.item-description {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, color 0.3s;
}

#sidebar:hover .item-description {
  opacity: 1;
  visibility: visible;
}
#configuracoes{
  margin-bottom: -600px;
}
#logout {
  border-top: 1px solid #39a048;
}

#logout-btn {
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 237px;
  height: 40px;
}
#logout-btn img {
  margin-left: 5px;
}

#logout-btn:hover {
  background-color: #e9001c;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.container {
  margin-top: 25px;
  margin-left: 100px;
}

.container p {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
div.menuHorario {
  position: absolute;
  top: 150px;
  width: 689px;
  height: 35.5px;
}
div.menuHorario a {
  position: absolute;
  top: -5px;
  left: 125px;
}
div.menuHorario button {
  background-color: #fff;
}
div.botoes {
  position: absolute;
  display: flex;
  top: -10px;
  left: 415px;
  white-space: nowrap;
}
#geral {
  width: 138px;
  height: 35.5px;
  padding: 4px 20px 4px 20px;
  gap: 10px;
  border-radius: 8px 0px 0px 8px;
  opacity: 0px;
  border: 1.5px solid #9ab69e;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: justify;
  color: #9ab69e;
  cursor: pointer;
}
#dia {
  width: 139.66px;
  height: 35.5px;
  padding: 4px 20px 4px 20px;
  border-radius: 0px 8px 8px 0px;
  font-size: 12px;
  font-weight: 600;
  text-align: justify;
  background: #ebf8ef;
  color: #118d3b;
  border: 1.5px solid #118d3b;
}
#outros {
  position: absolute;
  top: 8px;
  left: 108px;
}
#relogio {
  position: absolute;
  top: 8px;
  right: 12px;
}
#corpo {
  position: absolute;
  top: 200px;
  width: 693px;
  height: 370px;
  gap: 30px;
}
.semana {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.botao span {
  position: absolute;
  display: flex;
  border: 0px 0px 2px 0px;
  border-bottom: 1px solid #118d3b;
  top: 25px;
  margin-left: 19px;
}
.botao p {
  display: flex;
  align-self: center;
  margin-top: 28px;
  margin-left: 20px;
}

.botao {
  width: 85px;
  height: 75px;
  gap: 8px;
  border-radius: 10px;
  border: 1.5px solid #118d3b;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #118d3b;
  white-space: wrap;
  cursor: pointer;
}

.active {
  background-color: #118d3b;
  color: #fff;
  border: 0px 0px 2px 0px;
}
.active span {
  border-bottom: 1px solid #fff;
}

.horarios {
  width: 693px;
  height: 265px;
  gap: 20px;
}
#class {
  border: 1.5px solid #9ab69e;
  color: #9ab69e;
  width: 693px;
  height: 75px;
  border-radius: 8px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  margin-bottom: 20px;
}
#class h3 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

#class p {
  margin: 5px 0;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  text-align: left;
}
.class {
  width: 693px;
  height: 75px;
  border-radius: 8px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  border: 1.5px solid #118d3b;
  margin-bottom: 20px;
}
.class img {
  width: 15px;
  height: 18.14px;
}
.class span {
  position: absolute;
  top: 235px;
  right: 30px;
}

.class h3 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

.class p {
  margin: 5px 0;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  text-align: left;
}
